<h1>検索結果</h1>

<% documents.each do |doc| %>
  <ul>
    <li>Title = <%= doc.title %></li>
    <li>Content = <%= doc.content[0..20] + '...' %></li>
    <li>PageRank = <%= doc.page_rank %></li>
  </ul>
<% end %>
